/* screen - 1280-password-recovery-page */

.border-10px-heath {
  border: 10px solid var(--heath);
}
.border-1px-casal {
  border: 1px solid var(--casal);
}
.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}
.border-2px-heath {
  border: 2px solid var(--heath);
}
.border-4px-heath {
  border: 4px solid var(--heath);
}
.border-class-1 {
  border: 1px solid rgba(227,232,240,1.0);
}
.montserrat-normal-black-10px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-12px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-18px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-42px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-semi-bold-black-10px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-black-12px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-black-19px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-heath-20px {
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-white-12px {
  color: var(--white);
  font-family: 'Montsrrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-white-19px {
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
}
.x1280-password-recovery-page {
  background-color: var(--pumice);
  height: 720px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1280px;
}
.x1280-password-recovery-page .back-C61RwL {
  background-color: transparent;
  height: 18px;
  left: 68px;
  pointer-events: auto;
  position: absolute;
  top: 74px;
  transition: all 0.2s ease;
  width: 121px;
}
.x1280-password-recovery-page .back-C61RwL:hover {

transform: scale(1.1);
}
.x1280-password-recovery-page .back-to-home-7WGuVo {
  background-color: transparent;
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: calc(100.00% + 2px);
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 54px;
  position: absolute;
  text-align: left;
  top: -18px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.x1280-password-recovery-page .background-pTd2aV {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 30px 40px rgba(0,0,0,0.161);;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1px);
}
.x1280-password-recovery-page .divider-pTd2aV {
  background-color: transparent;
  height: 1px;
  left: 1px;
  position: absolute;
  top: 40px;
  width: 100%;
}
.x1280-password-recovery-page .email-AwFm72 {
  background-color: transparent;
  border: 0;
  bottom: calc(33.33% - 8px);
  color: var(--casal);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 24px;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: 18px;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  resize: none;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 54px;
}
.x1280-password-recovery-page .email-AwFm72::placeholder {
  color: rgba(49,89,112,0.6);
}
.x1280-password-recovery-page .email-AwFm72:hover {

filter: grayscale(100%);
}
.x1280-password-recovery-page .email-box-pTd2aV {
  background-color: rgba(240,242,247,1.0);
  border-radius: 10px;
  height: 45px;
  left: 44px;
  position: absolute;
  top: calc(45.95% - 21px);
  width: calc(100.00% - 81px);
}
.x1280-password-recovery-page .icon-close-pTd2aV {
  background-color: transparent;
  height: 9px;
  position: absolute;
  right: 20px;
  top: 15px;
  width: 9px;
}
.x1280-password-recovery-page .icon-mail-AwFm72 {
  background-color: transparent;
  bottom: calc(49.33% - 6px);
  height: 12px;
  left: 15px;
  position: absolute;
  width: 18px;
}
.x1280-password-recovery-page .ios-arrow-back-7WGuVo {
  background-color: transparent;
  height: calc(100.00% - 5px);
  left: 0px;
  position: absolute;
  top: 1px;
  width: 7px;
}
.x1280-password-recovery-page .logo166x145-C61RwL {
  background-color: transparent;
  height: 145px;
  left: 557px;
  pointer-events: auto;
  position: absolute;
  top: 40px;
  transition: all 0.2s ease;
  width: 166px;
}
.x1280-password-recovery-page .logo166x145-C61RwL:hover {

transform: scale(1.1);
}
.x1280-password-recovery-page .restore-button-pTd2aV {
  background-color: transparent;
  background-image: url(../img/restore@1x.png);
  background-size: 100% 100%;
  bottom: calc(24.83% - 11px);
  height: 45px;
  left: 44px;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: calc(100.00% - 80px);
}
.x1280-password-recovery-page .restore-button-pTd2aV:hover {

transform: scale(1.1);
}
.x1280-password-recovery-page .restore-my-password-3l3J21 {
  background-color: transparent;
  bottom: calc(42.08% - 7px);
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  letter-spacing: 1.10px;
  line-height: 11px;
  position: absolute;
  right: calc(45.47% - 77px);
  text-align: left;
  white-space: nowrap;
  width: 169px;
}
.x1280-password-recovery-page .restore-password-C61RwL {
  background-color: transparent;
  height: 312px;
  left: 445px;
  pointer-events: auto;
  position: absolute;
  top: 268px;
  transition: all 0.2s ease;
  width: 391px;
}
.x1280-password-recovery-page .restore-password-C61RwL:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.x1280-password-recovery-page .restore-password-pTd2aV {
  background-color: transparent;
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: 128px;
}
.x1280-password-recovery-page .your-e-mail-pTd2aV {
  background-color: transparent;
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 44px;
  letter-spacing: 1.10px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: calc(32.16% - 5px);
  white-space: nowrap;
  width: 90px;
}
:root {
  --alto: rgba(217,217,217,1.0);
  --black: rgba(0,0,0,1.0);
  --casal: rgba(49,89,112,1.0);
  --cedar: rgba(66,18,19,1.0);
  --dove-gray: rgba(112,112,112,1.0);
  --heath: rgba(84,22,23,1.0);
  --pumice: rgba(201,201,201,1.0);
  --quick-silver: rgba(167,167,167,1.0);
  --san-juan: rgba(44,74,103,1.0);
  --white: rgba(255,255,255,1.0);
}
/* screen - 375-password-recovery-page */

.border-10px-heath {
  border: 10px solid var(--heath);
}
.border-1px-casal {
  border: 1px solid var(--casal);
}
.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}
.border-2px-heath {
  border: 2px solid var(--heath);
}
.border-4px-heath {
  border: 4px solid var(--heath);
}
.border-class-1 {
  border: 1px solid rgba(227,232,240,1.0);
}
.montserrat-normal-black-10px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-12px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-18px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-42px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-semi-bold-black-10px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-black-12px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-black-19px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-heath-20px {
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-white-12px {
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-white-19px {
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
}
.x375-password-recovery-page {
  background-color: var(--pumice);
  height: 226.94px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.x375-password-recovery-page .back-C61RwL {
  background-color: transparent;
  height: 13px;
  left: 18px;
  pointer-events: auto;
  position: absolute;
  top: 18px;
  transition: all 0.2s ease;
  width: 87px;
}
.x375-password-recovery-page .back-C61RwL:hover {

transform: scale(1.1);
}
.x375-password-recovery-page .back-to-home-7WGuVo {
  background-color: transparent;
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  height: calc(100.00% + 2px);
  left: 11px;
  letter-spacing: 0.00px;
  line-height: 54px;
  position: absolute;
  text-align: left;
  top: -20px;
  white-space: nowrap;
  width: calc(100.00% - 9px);
}
.x375-password-recovery-page .divider-pTd2aV {
  background-color: transparent;
  height: 1px;
  left: 1px;
  position: absolute;
  top: 21px;
  width: 100%;
}
.x375-password-recovery-page .email-AwFm72 {
  background-color: transparent;
  border: 0;
  bottom: calc(35.86% - 5px);
  color: var(--casal);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  height: 15px;
  left: 46px;
  letter-spacing: 0.00px;
  line-height: 10px;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  resize: none;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 31px;
}
.x375-password-recovery-page .email-AwFm72::placeholder {
  color: rgba(49,89,112,0.6);
}
.x375-password-recovery-page .email-AwFm72:hover {

filter: grayscale(100%);
}
.x375-password-recovery-page .email-box-pTd2aV {
  background-color: rgba(240,242,247,1.0);
  border-radius: 10px;
  height: 30px;
  left: 13px;
  position: absolute;
  top: calc(32.28% - 10px);
  width: calc(100.00% - 26px);
}
.x375-password-recovery-page .icon-close-pTd2aV {
  background-color: transparent;
  height: 9px;
  position: absolute;
  right: 4px;
  top: 3px;
  width: 9px;
}
.x375-password-recovery-page .icon-mail-AwFm72 {
  background-color: transparent;
  height: 9px;
  left: 15px;
  position: absolute;
  top: calc(44.13% - 4px);
  width: 14px;
}
.x375-password-recovery-page .ios-arrow-back-7WGuVo {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 7px;
}
.x375-password-recovery-page .logo50x44-C61RwL {
  background-color: transparent;
  height: 44px;
  left: 162px;
  pointer-events: auto;
  position: absolute;
  top: 9px;
  transition: all 0.2s ease;
  width: 50px;
}
.x375-password-recovery-page .logo50x44-C61RwL:hover {

transform: scale(1.1);
}
.x375-password-recovery-page .restore-button-pTd2aV {
  background-color: transparent;
  background-image: url(../img/restore-3@1x.png);
  background-size: 100% 100%;
  bottom: 13px;
  height: 30px;
  left: 15px;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: calc(100.00% - 30px);
}
.x375-password-recovery-page .restore-button-pTd2aV:hover {

transform: scale(1.1);
}
.x375-password-recovery-page .restore-my-password-3l3J21 {
  background-color: transparent;
  bottom: calc(38.89% - 5px);
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  height: 12px;
  letter-spacing: 0.80px;
  line-height: 8px;
  position: absolute;
  right: calc(45.64% - 56px);
  text-align: left;
  white-space: nowrap;
  width: 123px;
}
.x375-password-recovery-page .restore-password-C61RwL {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 30px 40px rgba(0,0,0,0.161);;
  height: 115px;
  left: 99px;
  pointer-events: auto;
  position: absolute;
  top: 70px;
  transition: all 0.2s ease;
  width: 176px;
}
.x375-password-recovery-page .restore-password-C61RwL:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.x375-password-recovery-page .restore-password-pTd2aV {
  background-color: transparent;
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  height: 12px;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: 8px;
  position: absolute;
  text-align: left;
  top: 8px;
  white-space: nowrap;
  width: 94px;
}
:root {
  --alto: rgba(217,217,217,1.0);
  --black: rgba(0,0,0,1.0);
  --casal: rgba(49,89,112,1.0);
  --cedar: rgba(66,18,19,1.0);
  --dove-gray: rgba(112,112,112,1.0);
  --heath: rgba(84,22,23,1.0);
  --pumice: rgba(201,201,201,1.0);
  --quick-silver: rgba(167,167,167,1.0);
  --san-juan: rgba(44,74,103,1.0);
  --white: rgba(255,255,255,1.0);
}
/* screen - 768-password-recovery-page */

.border-10px-heath {
  border: 10px solid var(--heath);
}
.border-1px-casal {
  border: 1px solid var(--casal);
}
.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}
.border-2px-heath {
  border: 2px solid var(--heath);
}
.border-4px-heath {
  border: 4px solid var(--heath);
}
.border-class-1 {
  border: 1px solid rgba(227,232,240,1.0);
}
.montserrat-normal-black-10px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-12px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-18px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-42px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-semi-bold-black-10px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-black-12px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-black-19px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-heath-20px {
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-white-12px {
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-white-19px {
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
}
.x768-password-recovery-page {
  background-color: var(--pumice);
  height: 432px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 768px;
}
.x768-password-recovery-page .back-C61RwL {
  background-color: transparent;
  height: 15px;
  left: 32px;
  pointer-events: auto;
  position: absolute;
  top: 32px;
  transition: all 0.2s ease;
  width: 105px;
}
.x768-password-recovery-page .back-C61RwL:hover {

transform: scale(1.1);
}
.x768-password-recovery-page .back-to-home-7WGuVo {
  background-color: transparent;
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  height: calc(100.00% + 2px);
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 54px;
  position: absolute;
  text-align: left;
  top: -20px;
  white-space: nowrap;
  width: calc(100.00% - 13px);
}
.x768-password-recovery-page .background-pTd2aV {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 30px 40px rgba(0,0,0,0.161);;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1px);
}
.x768-password-recovery-page .divider-pTd2aV {
  background-color: transparent;
  height: 1px;
  left: 1px;
  position: absolute;
  top: 40px;
  width: calc(100.00% - 1px);
}
.x768-password-recovery-page .email-AwFm72 {
  background-color: transparent;
  border: 0;
  bottom: calc(35.42% - 7px);
  color: var(--casal);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 21px;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: 16px;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  resize: none;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 48px;
}
.x768-password-recovery-page .email-AwFm72::placeholder {
  color: rgba(49,89,112,0.6);
}
.x768-password-recovery-page .email-AwFm72:hover {

filter: grayscale(100%);
}
.x768-password-recovery-page .email-box-pTd2aV {
  background-color: rgba(240,242,247,1.0);
  border-radius: 10px;
  height: 45px;
  left: 40px;
  position: absolute;
  top: calc(47.02% - 21px);
  width: calc(100.00% - 81px);
}
.x768-password-recovery-page .icon-close-pTd2aV {
  background-color: transparent;
  height: 9px;
  position: absolute;
  right: 21px;
  top: 15px;
  width: 9px;
}
.x768-password-recovery-page .icon-mail-AwFm72 {
  background-color: transparent;
  bottom: calc(49.33% - 6px);
  height: 12px;
  left: 15px;
  position: absolute;
  width: 18px;
}
.x768-password-recovery-page .ios-arrow-back-7WGuVo {
  background-color: transparent;
  height: calc(100.00% - 6px);
  left: 1px;
  position: absolute;
  top: 4px;
  width: 5px;
}
.x768-password-recovery-page .logo80x70-C61RwL {
  background-color: transparent;
  height: 70px;
  left: 344px;
  pointer-events: auto;
  position: absolute;
  top: 14px;
  transition: all 0.2s ease;
  width: 80px;
}
.x768-password-recovery-page .logo80x70-C61RwL:hover {

transform: scale(1.1);
}
.x768-password-recovery-page .restore-button-pTd2aV {
  background-color: transparent;
  background-image: url(../img/restore-2@1x.png);
  background-size: 100% 100%;
  bottom: calc(19.49% - 9px);
  height: 45px;
  left: 40px;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: calc(100.00% - 80px);
}
.x768-password-recovery-page .restore-button-pTd2aV:hover {

transform: scale(1.1);
}
.x768-password-recovery-page .restore-my-password-3l3J21 {
  background-color: transparent;
  bottom: calc(42.08% - 7px);
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  letter-spacing: 1.10px;
  line-height: 11px;
  position: absolute;
  right: calc(44.28% - 75px);
  text-align: left;
  white-space: nowrap;
  width: 169px;
}
.x768-password-recovery-page .restore-password-C61RwL {
  background-color: transparent;
  height: 232px;
  left: 232px;
  pointer-events: auto;
  position: absolute;
  top: 148px;
  transition: all 0.2s ease;
  width: 304px;
}
.x768-password-recovery-page .restore-password-C61RwL:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.x768-password-recovery-page .restore-password-pTd2aV {
  background-color: transparent;
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: 128px;
}
.x768-password-recovery-page .your-e-mail-pTd2aV {
  background-color: transparent;
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 40px;
  letter-spacing: 1.10px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: calc(29.19% - 5px);
  white-space: nowrap;
  width: 90px;
}
:root {
  --alto: rgba(217,217,217,1.0);
  --black: rgba(0,0,0,1.0);
  --casal: rgba(49,89,112,1.0);
  --cedar: rgba(66,18,19,1.0);
  --dove-gray: rgba(112,112,112,1.0);
  --heath: rgba(84,22,23,1.0);
  --pumice: rgba(201,201,201,1.0);
  --quick-silver: rgba(167,167,167,1.0);
  --san-juan: rgba(44,74,103,1.0);
  --white: rgba(255,255,255,1.0);
}
/* screen - password-recovery-page */

.border-10px-heath {
  border: 10px solid var(--heath);
}
.border-1px-casal {
  border: 1px solid var(--casal);
}
.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}
.border-2px-heath {
  border: 2px solid var(--heath);
}
.border-4px-heath {
  border: 4px solid var(--heath);
}
.border-class-1 {
  border: 1px solid rgba(227,232,240,1.0);
}
.montserrat-normal-black-10px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-12px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-18px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-42px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-semi-bold-black-10px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-black-12px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-black-19px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-heath-20px {
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-white-12px {
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-white-19px {
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
}
.password-recovery-page {
  background-color: var(--pumice);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.password-recovery-page .back-C61RwL {
  background-color: transparent;
  height: 22px;
  left: 123px;
  pointer-events: auto;
  position: absolute;
  top: 70px;
  transition: all 0.2s ease;
  width: 151px;
}
.password-recovery-page .back-C61RwL:hover {

transform: scale(1.1);
}
.password-recovery-page .back-to-home-7WGuVo {
  background-color: transparent;
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: calc(100.00% + 2px);
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 54px;
  position: absolute;
  text-align: left;
  top: -16px;
  white-space: nowrap;
  width: calc(100.00% - 14px);
}
.password-recovery-page .background-pTd2aV {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 30px 40px rgba(0,0,0,0.161);;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1px);
}
.password-recovery-page .divider-pTd2aV {
  background-color: transparent;
  height: 1px;
  left: 1px;
  position: absolute;
  top: 40px;
  width: 100%;
}
.password-recovery-page .email-AwFm72 {
  background-color: transparent;
  border: 0;
  bottom: calc(33.33% - 8px);
  color: var(--casal);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: 24px;
  left: 43px;
  letter-spacing: 0.00px;
  line-height: 18px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: 54px;
}
.password-recovery-page .email-AwFm72::placeholder {
  color: rgba(49,89,112,0.6);
}
.password-recovery-page .email-box-pTd2aV {
  background-color: rgba(240,242,247,1.0);
  border-radius: 10px;
  height: 45px;
  left: 40px;
  position: absolute;
  top: calc(39.33% - 18px);
  width: calc(100.00% - 81px);
}
.password-recovery-page .icon-close-pTd2aV {
  background-color: transparent;
  height: 9px;
  position: absolute;
  right: 21px;
  top: 15px;
  width: 9px;
}
.password-recovery-page .icon-mail-AwFm72 {
  background-color: transparent;
  bottom: calc(49.33% - 6px);
  height: 12px;
  left: 15px;
  position: absolute;
  width: 18px;
}
.password-recovery-page .ios-arrow-back-7WGuVo {
  background-color: transparent;
  height: calc(100.00% - 9px);
  left: 0px;
  position: absolute;
  top: 4px;
  width: 7px;
}
.password-recovery-page .logo250x219-C61RwL {
  background-color: transparent;
  height: 219px;
  left: 835px;
  pointer-events: auto;
  position: absolute;
  top: 44px;
  transition: all 0.2s ease;
  width: 250px;
}
.password-recovery-page .logo250x219-C61RwL:hover {

transform: scale(1.1);
}
.password-recovery-page .restore-button-pTd2aV {
  background-color: transparent;
  background-image: url(../img/restore@1x.png);
  background-size: 100% 100%;
  bottom: calc(23.33% - 10px);
  height: 45px;
  left: 40px;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: calc(100.00% - 80px);
}
.password-recovery-page .restore-button-pTd2aV:hover {

transform: scale(1.1);
}
.password-recovery-page .restore-my-password-3l3J21 {
  background-color: transparent;
  bottom: calc(42.08% - 7px);
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  letter-spacing: 1.10px;
  line-height: 11px;
  position: absolute;
  right: calc(45.47% - 77px);
  text-align: left;
  white-space: nowrap;
  width: 169px;
}
.password-recovery-page .restore-password-C61RwL {
  background-color: transparent;
  height: 312px;
  left: 759px;
  pointer-events: auto;
  position: absolute;
  top: 362px;
  transition: all 0.2s ease;
  width: 391px;
}
.password-recovery-page .restore-password-C61RwL:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.password-recovery-page .restore-password-pTd2aV {
  background-color: transparent;
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: 128px;
}
.password-recovery-page .your-e-mail-pTd2aV {
  background-color: transparent;
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  height: 16px;
  left: 55px;
  letter-spacing: 1.10px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: calc(28.55% - 5px);
  white-space: nowrap;
  width: 90px;
}
:root {
  --alto: rgba(217,217,217,1.0);
  --black: rgba(0,0,0,1.0);
  --casal: rgba(49,89,112,1.0);
  --cedar: rgba(66,18,19,1.0);
  --dove-gray: rgba(112,112,112,1.0);
  --heath: rgba(84,22,23,1.0);
  --pumice: rgba(201,201,201,1.0);
  --quick-silver: rgba(167,167,167,1.0);
  --san-juan: rgba(44,74,103,1.0);
  --white: rgba(255,255,255,1.0);
}
@media screen and (max-width: 767px) {
  .password-recovery-page { 
    display: none;
   }
  .x1280-password-recovery-page { 
    display: none;
   }
  .x768-password-recovery-page { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .password-recovery-page { 
    display: none;
   }
  .x1280-password-recovery-page { 
    display: none;
   }
  .x375-password-recovery-page { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .password-recovery-page { 
    display: none;
   }
  .x768-password-recovery-page { 
    display: none;
   }
  .x375-password-recovery-page { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .x1280-password-recovery-page { 
    display: none;
   }
  .x768-password-recovery-page { 
    display: none;
   }
  .x375-password-recovery-page { 
    display: none;
   }
}