/* screen - video-player-page2 */

.border-10px-heath {
  border: 10px solid var(--heath);
}
.border-1px-casal {
  border: 1px solid var(--casal);
}
.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}
.border-2px-heath {
  border: 2px solid var(--heath);
}
.border-4px-heath {
  border: 4px solid var(--heath);
}
.border-class-1 {
  border: 1px solid rgba(227,232,240,1.0);
}
.montserrat-normal-black-10px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-12px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-18px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-normal-black-42px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
}
.montserrat-semi-bold-black-10px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-black-12px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-black-19px {
  color: var(--black);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-heath-20px {
  color: var(--heath);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-white-12px {
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.montserrat-semi-bold-white-19px {
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
}
.video-player-page2 {
  background-color: var(--white);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.video-player-page2 .bg-top-C61RwL {
  background-color: var(--pumice);
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.video-player-page2 .bg-top-VMr6Om {
  background-color: rgba(39,39,39,1.0);
  height: 1080px;
  left: 0px;
  opacity: 0.42;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.video-player-page2 .contact-POQGFP {
  background-color: transparent;
  bottom: calc(42.50% - 11px);
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.02% - 41px);
  text-align: left;
  white-space: nowrap;
  width: 84px;
}
.video-player-page2 .contact-component-Z6zpbm {
  background-color: var(--pumice);
  border-radius: 10px;
  height: 100%;
  opacity: 0.52;
  position: absolute;
  right: calc(38.09% - 71px);
  top: 0px;
  width: 186px;
}
.video-player-page2 .fundamental-6EvOoV {
  background-color: transparent;
  bottom: calc(42.50% - 11px);
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.02% - 69px);
  text-align: left;
  white-space: nowrap;
  width: 141px;
}
.video-player-page2 .fundamental-component-Z6zpbm {
  background-color: var(--pumice);
  border-radius: 10px;
  height: 100%;
  left: calc(46.22% - 112px);
  opacity: 0.52;
  position: absolute;
  top: 0px;
  width: 243px;
}
.video-player-page2 .login-bvKRUK {
  -webkit-text-stroke: 1px var(--dove-gray);
  background-color: transparent;
  bottom: calc(42.50% - 11px);
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.02% - 29px);
  text-align: left;
  white-space: nowrap;
  width: 60px;
}
.video-player-page2 .login-component-Z6zpbm {
  background-color: var(--pumice);
  border-radius: 10px;
  height: 100%;
  opacity: 0.52;
  position: absolute;
  right: 195px;
  top: 0px;
  width: 162px;
}
.video-player-page2 .logo166x145-8MJZIW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 166px;
}
.video-player-page2 .logo166x145-8MJZIW:hover {

transform: scale(1.1);
}
.video-player-page2 .menu-center-8MJZIW {
  background-color: transparent;
  bottom: calc(46.84% - 31px);
  height: 66px;
  left: 254px;
  position: absolute;
  width: calc(100.00% - 254px);
}
.video-player-page2 .navbar-C61RwL {
  background-color: transparent;
  height: 145px;
  left: 37px;
  position: absolute;
  top: 33px;
  width: 1821px;
}
.video-player-page2 .sign-up-C4Ldyd {
  -webkit-text-stroke: 1px var(--dove-gray);
  background-color: transparent;
  bottom: calc(42.50% - 11px);
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.02% - 41px);
  text-align: left;
  white-space: nowrap;
  width: 83px;
}
.video-player-page2 .sign-up-component-Z6zpbm {
  background-color: var(--pumice);
  border-radius: 10px;
  height: 100%;
  opacity: 0.52;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 185px;
}
.video-player-page2 .strategies-component-Z6zpbm {
  background-color: var(--pumice);
  border-radius: 10px;
  height: 100%;
  left: 202px;
  opacity: 0.52;
  position: absolute;
  top: 0px;
  width: 192px;
}
.video-player-page2 .strategy-q8CpeS {
  background-color: transparent;
  bottom: calc(42.50% - 11px);
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.02% - 44px);
  text-align: left;
  white-space: nowrap;
  width: 90px;
}
.video-player-page2 .technical-component-Z6zpbm {
  background-color: var(--pumice);
  border-radius: 10px;
  height: 100%;
  left: calc(30.04% - 61px);
  opacity: 0.52;
  position: absolute;
  top: 0px;
  width: 202px;
}
.video-player-page2 .technical-lY8Sqq {
  background-color: transparent;
  bottom: calc(42.50% - 11px);
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.02% - 49px);
  text-align: left;
  white-space: nowrap;
  width: 100px;
}
.video-player-page2 .valuation-5dtgbd {
  background-color: transparent;
  bottom: calc(42.50% - 11px);
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(49.02% - 49px);
  text-align: left;
  white-space: nowrap;
  width: 100px;
}
.video-player-page2 .valuation-component-Z6zpbm {
  background-color: var(--pumice);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  opacity: 0.52;
  position: absolute;
  top: 0px;
  width: 202px;
}
:root {
  --alto: rgba(217,217,217,1.0);
  --black: rgba(0,0,0,1.0);
  --casal: rgba(49,89,112,1.0);
  --cedar: rgba(66,18,19,1.0);
  --dove-gray: rgba(112,112,112,1.0);
  --heath: rgba(84,22,23,1.0);
  --pumice: rgba(201,201,201,1.0);
  --quick-silver: rgba(167,167,167,1.0);
  --san-juan: rgba(44,74,103,1.0);
  --white: rgba(255,255,255,1.0);
}
